

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.App{
  width: 100vw;
  display:flex;
  justify-content: space-around;

}

p {
  text-align: center;
  font-size : 32px;
  font-weight: bold;
}

img {
  height: 300px;
  width: auto;
}
